@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
} 

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent }
  50% { border-color: white; }
}

.animate-typing {
  animation: typing 2s steps(40, end) forwards,
              blink-caret .75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container{
 display: flex; 
 flex-direction: column;
 width: 100%;
 height: 100%;
 padding: 30px 50px 20px 50px;
 box-sizing: border-box;
} */
.main_content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width:70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  .card{
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform: scale(.8);
    transition: all .3s  ease-in-out;
    margin-bottom: 50px ;
  }
  .card_img{
    margin-top: -5vw;
    img {
      width: 300px;
    }
  }
  .card_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
    h2{
      font-size: 18px;
    }
    p{
      font-size: 14px;
      text-align: center;
      color:rgba(white, .3);
      margin:8px 0;
    }
  }
  .card:hover{
    background-color: light;
    transform: scale(1.1);
    cursor: pointer;
  }
  .card:hover{
    .btn{
      background-color: cadetblue;
      color: white;
    }
  }
}
.btn{
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: white;
  color:rgba(white, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition:background-color .3s ease;
  overflow: hidden;
}

.main-container{
  display: flex;
  align-items: center;
  height: 200px;
  width: 850px;
  padding-left: 30px;
}